
body {background-color: rgb(255, 237, 211);}

h1 {
 color:rgb(153, 187, 153); 
 text-align: center;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
  font-family: 'Franklin Gothic Medium'
  font-stretch: extra-expanded;
  
}

h3 {
  text-align: center;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: larger;
}

ul {
  font-family: 'Franklin Gothic Medium'
  font-stretch: extra-expanded;
}

ul {
  font-size: larger;
}

.card-column {
  float: left;
  width: 50%;
  padding: 0 10px;

}

.row {margin: 0 --5px}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0);
  padding: 16px;
  background-color: rgb(241, 189, 189);
}

.card {
  margin: 4em;
}


